.howtohelp {
  font-family: 'Crimson Text', serif;
  text-align: center;
}

#donation,
#volunteerabroad {
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  width: 45%;
  margin: 40px;
  padding: 20px;
}

#donation {
  float: right;
}

#volunteerabroad {
  float: left;
}


/*#volunteerabroad {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  float: left;
  width: 50%;
  margin: 30px;
  padding: 10px;
}*/


.howtohelp {
  font-size: 25px;
  /*margin: 30px;
  padding: 10px;*/
}

.howtohelp {
   position: relative;
   width: 100%; /* for IE 6 */
}

.howtohelp h1 {
   position: absolute;
   top: 50px;
   left: 0;
   width: 100%;
   color: white;
}

.howtohelp img {
  width: 100%;
  height: 400px;
  position: relative;
  opacity: 0.8;
}

#leftsidedonate {
  font-family: 'Crimson Text', serif;
  float: left;
  background-image: url(https://cdn.pixabay.com/photo/2015/03/01/04/44/donate-654328_1280.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 44%;
  height: 400px;
}

#rightsidevolunteer {
  font-family: 'Crimson Text', serif;
  float: right;
}


/* navigation bar */

#header img {
  width: 110px;
  height: 110px;

}

li {
    float: left;
    list-style-type: none;
}

#header a {
    display: block;
    padding: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: gray;
    font-size: 12px;

}
#header {
  background-color: white;
  position: relative;
  width: 100%;
  text-align: center;

}
#header ul {
  display: inline-block;
  font-family: 'Crimson Text', serif;
